body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  font-size: 16px;
  background-image: linear-gradient(
    to right top,
    #2b219d,
    #343dae,
    #4157be,
    #5270cc,
    #6688d8,
    #619ae4,
    #5faaed,
    #63bbf5,
    #43c9f9,
    #21d6f7,
    #1de2ef,
    #41ede2
  );
  /* background-color: #fff; */
}
.container {
  display: grid;
  grid-template: auto 1fr / auto 1fr;
  /* border: 1px solid black; */
  height: inherit;
  width: inherit;
}
.header-section {
  /* background: lightblue; */
  grid-column: 1 / 4;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: "Roboto", sans-serif;
}
.header-section .image-logo h2 {
  color: #fff;
  font-family: "Libre Baskerville", serif;
  font-size: 2em;
}
.header-section .menu ul {
  list-style: none;
  display: flex;
}
.header-section .menu ul li {
  margin-right: 15px;
}
.header-section .menu ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.1em;
  margin-right: 15px;
}
.header-section .notification span i {
  color: #fff;
  margin-left: 20px;
  cursor: pointer;
}
.left-section {
  /* background: lawngreen; */
  grid-column: 1 / 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 2em;
  /* height: 100%; */
}
.social-icon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* margin: 8px; */
  margin-top: 5em;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: transparent;
  background-color: #fff;
  position: relative;
  overflow: hidden;
  /* box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1); */
  transition: all 0.3s ease;
  text-decoration: none;
  cursor: pointer;
}
.social-icon i {
  margin: auto;
  font-size: 24px;
  color: #67798e;
  z-index: 1;
  transition: all 0.3s ease;
}
.social-icon:after {
  content: "";
  width: 64px;
  height: 64px;
  position: absolute;
  transform: translate(0, 64px);
  border-radius: 50%;
  border: transparent;
  transition: all 0.3s ease;
}
.social-icon.facebook:after {
  background-color: #1769ff;
}
.social-icon.twitter:after {
  background-color: #ea4c89;
}
.social-icon.youtube:after {
  background-color: #5851db;
}
.social-icon.unsplash:after {
  background-color: #24292e;
}
.social-icon:hover {
  transform: translateY(-4px);
  /* box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1); */
}
.social-icon:hover i {
  color: #fff;
}
.social-icon:hover:after {
  transform: translate(0) scale(1.2);
}
.main-section {
  /* background: lightsalmon; */
  grid-column: 2 / 4;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-family: "Libre Baskerville", serif;
  margin-left: 30px;
  position: relative;
}
.main-section h1 {
  color: #fff;
  font-size: 7em;
  margin: 0;
  padding: 0;
}
.main-section .btn {
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding: 2px;
}
.main-section button {
  color: #fff;
  font-size: 1em;
  padding: 10px;
  outline: none;
  border: 1px solid #fff;
  background-color: transparent;
}
.main-section .main-image {
  position: absolute;
  top: 100px;
  right: 150px;
  width: 400px;
  height: 400px;
}
.main-section .main-image img {
  height: 100%;
  width: 100%;
}
